<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data-analysis" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Insurance Pricing Analysis </h3>
    <p>Development of statistical models and pricing solutions for the insurance industry. 
      Using Python, R, and advanced statistical techniques to build GLM models and perform comprehensive data analysis.
      Projects include pricing optimization, risk assessment, and business intelligence dashboards.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/{{site.github_username}}">View on GitHub</a>
        <a class="project-link" href="https://medium.com/@{{site.medium_username}}">Read on Medium</a>
      </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="injury-prediction" src="{{ "/assets/img/lesao.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Statistical Modeling of Injury Recovery Time </h3>
    <p>Predictive model using GLM (Gamma with Log link) to forecast injury recovery time in football players from major European leagues. 
      Analysis of the impact of variables such as age, position, league and injury severity on player recovery time.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/alexrodrigues0711/previsaolesaoporidade">View on GitHub</a>
      </p>
  </div>
</div>

</div>
