<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="injury-prediction" src="{{ "/assets/img/lesao.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Statistical Modeling of Injury Recovery Time </h3>
    <p>Predictive model using GLM (Gamma with Log link) to forecast injury recovery time in football players from major European leagues. 
      Analysis of the impact of variables such as age, position, league and injury severity on player recovery time.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/alexrodrigues0711/previsaolesaoporidade">View on GitHub</a>
        <a class="project-link" href="https://medium.com/p/ce138ce4b589?postPublishedType=initial">Read on Medium</a>
      </p>
  </div>
</div>

</div>
